extends ./layout/index

block contenido 
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}

                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna arcu, blandit ut porttitor sit amet, luctus quis mi. Donec consequat, lacus eget pellentesque varius, ligula mi sodales erat, quis placerat quam nulla molestie neque. Morbi diam augue, imperdiet a suscipit ac, volutpat at tortor. Suspendisse aliquam a odio eget viverra. Donec vel malesuada dolor. Phasellus tincidunt at eros at interdum. Nullam ut libero justo. Nam dictum sed ligula ut tristique.

                p Etiam condimentum pellentesque mollis. Duis eleifend tortor at fermentum interdum. Nulla ut massa at erat pretium venenatis. Curabitur tristique justo dolor, id pellentesque quam lacinia ut. Donec mi massa, vehicula quis suscipit sed, pretium sed eros. Maecenas dapibus aliquam elit in bibendum. Etiam dictum sagittis ligula posuere dictum. Maecenas orci tortor, convallis sed laoreet ac, dictum ut tellus. Sed scelerisque urna sed nunc facilisis vehicula. Nunc a eros magna. Donec erat dui, fringilla sed porttitor eget, laoreet eu risus. Praesent imperdiet fermentum vulputate. Nam sit amet convallis neque.

                p Vivamus fringilla nunc at vestibulum consequat. Curabitur eget dolor iaculis, tempus velit a, fringilla ipsum. Duis a sapien quis dui semper rhoncus ac eget ipsum. Pellentesque egestas pharetra arcu sit amet pharetra. Donec nec ante a augue sodales varius ut nec risus. Nulla aliquet imperdiet lacus vitae venenatis. Donec cursus ipsum nisl, et malesuada metus ultricies nec. Nam interdum mauris et lacus congue lobortis. Nunc ex dui, iaculis sed tellus vestibulum, imperdiet finibus elit.
    
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Vivamus fringilla nunc at vestibulum consequat. Curabitur eget dolor iaculis Curabitur eget dolor iaculisCurabitur eget dolor iaculis

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Los mejores Destinos
                    p Vivamus fringilla nunc at vestibulum consequat. Curabitur eget dolor iaculis Curabitur eget dolor iaculisCurabitur eget dolor iaculis

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores Precios
                    p Vivamus fringilla nunc at vestibulum consequat. Curabitur eget dolor iaculis Curabitur eget dolor iaculisCurabitur eget dolor iaculis