extends ./layout/index

block contenido 
    //- p= JSON.stringify(viajes) debuguear y saber si los datos se pasan al view

    h1.mt-5.text-center #{pagina}
    main.container.mt-5 
        include ./layout/bloque_viajes